<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yang.portal.security.mapper.RolePermissionMapper">

    <resultMap type="com.yang.portal.security.entity.RolePermission" id="RolePermissionMap">
        <result property="id" column="ID" jdbcType="INTEGER"/>
        <result property="roleId" column="ROLE_ID" jdbcType="INTEGER"/>
        <result property="permissionId" column="PERMISSION_ID" jdbcType="INTEGER"/>
        <result property="uniqueId" column="UNIQUE_ID" jdbcType="INTEGER"/>
        <result property="description" column="DESCRIPTION" jdbcType="VARCHAR"/>
        <result property="isDelete" column="IS_DELETE" jdbcType="BOOLEAN"/>
        <result property="revision" column="REVISION" jdbcType="INTEGER"/>
        <result property="createdId" column="CREATED_ID" jdbcType="INTEGER"/>
        <result property="createdBy" column="CREATED_BY" jdbcType="VARCHAR"/>
        <result property="createdTime" column="CREATED_TIME" jdbcType="TIMESTAMP"/>
        <result property="updatedId" column="UPDATED_ID" jdbcType="INTEGER"/>
        <result property="updatedBy" column="UPDATED_BY" jdbcType="VARCHAR"/>
        <result property="updatedTime" column="UPDATED_TIME" jdbcType="TIMESTAMP"/>
    </resultMap>

    <update id="deleteRolePermissionByRoleId">
        UPDATE `ROLE_PERMISSION`
        SET IS_DELETE = TRUE,
            UNIQUE_ID = ID,
            UPDATED_BY = #{jwtToken.userPrincipal.nickName},
            UPDATED_ID = #{jwtToken.userPrincipal.userId},
            UPDATED_TIME = #{time}
        WHERE
            ROLE_ID = #{roleId}
          AND IS_DELETE = FALSE
    </update>

</mapper>
